@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
.contactsBlock {
    /*height: 100vh;*/
    height: 100%;
    background-color: $bgSecondColor;
}

.title{
    background-color: #ececea;
}
.contactsContainer {
    border: 1px solid;
    flex-direction: column;
    justify-content: flex-start;

}

.contactBox {
    border: 1px solid;
    width: 280px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contactBox inputm .contactBox textarea {
    width: 100%;
}