@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
.contactsBlock {
    /*height: 100vh;*/
    height: 100%;
    background-color: $bgSecondColor;

    .contactsContainer {
        flex-direction: column;
        justify-content: flex-start;
    }

    .contactBox {
        width: 280px;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;

        .contactBox input .contactBox textarea {
            width: 100%;
        }
    }
}






