@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
.mainBlock{
    height: 100vh;
    background-color:$bgColor;
    .particles {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;

        canvas {
            position: unset !important;
        }

    }

    .text{

        .description{
            color: $textColor;
            @include text($secondFont,50px,1);
            width: 100%;
        }
        .textName{
            color: $textColor;
            @include text($primaryFont,90px,1.5);
        }
    }

    .photo{
        width: 500px;
        height: 500px;
        background-color: $bgSecondColor;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        border-radius: 500px;

    }
    @media screen and (max-width: 651px) {
        justify-content: center;
    }
}




