@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
.nav{
    width: 300px;
    @include  flex(row,space-between,stretch,nowrap);
    color: $textColor;
    cursor: pointer;
    margin-right: 30px;
    :hover{
        text-decoration: none;
        color: $primaryColor;
    }

    .active{
        color: $primaryColor;
    }

}
.navText{
    color: $textColor;
    @include text($secondFont,17px,0);
    text-decoration: none;
}

