.footerBlock{
    background-color: #bbff9a;
}
.title{
    background-color: #ececea;
}
.footerContainer{
    flex-direction: column;
    justify-content: space-between;
}

.footerItems{
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    flex-wrap: wrap;
}